.row-component {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-self: stretch;
    flex: 1;
    
    & .column-component {
        padding: 0 12px;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
            max-width: 40vw;
            
            @media (max-width: 1024px){   
               max-width: 100%;
            }
        }
    }
}